@use "../abstracts" as *;
@use "../states" as *;

.portfolio {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    @include respond-to(sm) {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
    }

    @include respond-to(md) {
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }
}

.portfolio__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    align-items: start;

    @include respond-to(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(xl) {
        grid-template-columns: repeat(3, 1fr);
    }
}
