@use "../abstracts" as *;

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: $side-menu-width;
    height: 100vh;
    background-color: $color-side-menu-bg;
    backdrop-filter: blur(6px);
    border-right: 1px solid $color-border;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem 1.5rem;
    overflow-y: auto;
    z-index: $z-side-menu;

    opacity: 0;
    transform: translateX(-100%);
    transition:
            transform 0.3s ease,
            opacity 0.3s ease;

    @include respond-to(sm) {
        opacity: 1;
        transform: translateX(0);
    }

    &__branding {
        margin-bottom: 2rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-border;

        text-align: center;

        a {
            margin-top: 2rem;
            display: inline-block;
            font-size: 2.5rem;
            font-weight: 700;
            color: $color-primary;
            letter-spacing: 1px;
            text-shadow: 0 0 8px rgba($color-primary, 0.35);

            @include respond-to(sm) {
                margin-top: 0;
                font-size: 3.5rem;
            }
        }
    }

}



.menu-checkbox {
    @extend %visually-hidden;

    &:checked ~ .side-menu {
        opacity: 1;
        transform: translateX(0);
    }
}


