@use "../abstracts" as *;

.scroll-arrow {
    width: 12px;
    height: 12px;

    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;

    transition:
            border-color $transition-base,
            text-shadow $transition-base,
            transform $transition-base;

    animation: arrow-down 1.4s infinite ease-in-out;

    &--down {
        transform: rotate(45deg);
        animation-name: arrow-down;
    }

    &--up {
        transform: rotate(-135deg);
        animation-name: arrow-up;
    }
}
